@model DAL.Model.Article

@{
    ViewBag.Title = "Article Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdateDate)
        </dd>
    </dl>
    @{
        string cls = "btn btn-info";
        string value = "Like";
        string disabled = "";
        if (TempData["LikedBefore"] != null)
        {
            cls = "btn btn-success";
            value = "Already liked";
            disabled = "disabled";
        }
    }
    <input class="@cls" id="likebutton" type="submit" value="@value" @disabled />
</div>

<div class="container">
    <div class="row">
        <h3>Comments</h3>
    </div>
    <table class="table table-bordered table-striped">
        <tr>
            <th class="col-md-1">User</th>
            <th class="col-md-1">Date</th>
            <th class="col-md-10">Comment</th>
        </tr>
        @foreach (var item in Model.Comments)
        {
            <tr>
                <td>
                    @item.UserId
                </td>
                <td>
                    @item.Date
                </td>
                <td>
                    @item.Comment
                </td>
            </tr>
        }
    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Empty Comment</h4>
            </div>
            <div class="modal-body">
                <p>Comment can not be empty.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<p>
    <div class="row">
        <label class="col-md-1 text-primary text-left">Comment</label>
        @using (Html.BeginForm("Comment", "Articles", FormMethod.Post, new { Id = "commentForm" }))
        {
            <textarea name="Comment" id="commentText" class="col-md-11" rows="10"></textarea>
            <input type="hidden" name="ArticleId" value="@Model.Id">
            <br />            
            <input style="display:none" type="submit" class="btn btn-info col-md-2 col-lg-offset-10"></input>
        }
        <button id="commitButton" class="btn btn-info col-md-2 col-lg-offset-10">Comment</button>
    </div>
    @if (ViewBag.UserName == Model.AuthorId)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $('#likebutton').click(function () {
                var button = $(event.target);
                button.prop('disabled', true);
                var jqxhr = $.post('/Articles/Like',{articleId:@Model.Id}, function(data){
                    var success = false;
                    if(data){
                        if(data.Success){
                            success = true;
                            button.removeClass('btn btn-info').addClass('btn btn-success');
                            button.val("Already liked");
                        }else{                            
                            showModal("Like Result", data.Message);
                        }
                    }
                    if(!success)
                        button.prop('disabled', false);
                }).error(
                function(){
                    var message = "Internal error.";
                    if(jqxhr.status == 403){
                        message =  "You are not authorized. Please log in.";
                    }
                    showModal("Error", message);
                })
                .complete(function(){console.log(jqxhr.status)});
            });
            $('#commitButton').click(function(){
                var comment = $('#commentText').val();
                if(comment.trim() === ""){
                    showModal("Validation Error", "You can not send an empty comment");
                }else{
                    $('#commentForm').submit();
                }
            });           
        });

        function showModal(title, message){
            var modal = $('#myModal');
            modal.find('.modal-title').html(title);
            modal.find('.modal-body > p').html(message);
            modal.modal('show');
        }
    </script>
}
