@model IEnumerable<DAL.Model.Article>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .progress {
        background: transparent !important;
        box-shadow: none !important;
    }

    table .progress {
        margin-bottom: 0;
    }

    .progress-bar {
        border-radius: 4px !important;
    }
</style>
<h2>Articles</h2>

<p>
    @if (ViewBag.IsEditor)
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th class="col-md-3">
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.AuthorId)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.LastUpdateDate)
        </th>
        <th class="col-xs-3">Likes</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Details", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdateDate)
            </td>
            <td>
                <table>
                    <tr>
                        <td class="col-xs-11">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width:@item.Percentage%">
                                </div>
                            </div>
                        </td>
                        <td>
                            <span class="badge">@item.LikeCount</span>
                        </td>
                    </tr>
                </table>
                @*<div class="progress-bar progress-bar-warning" role="progressbar" style="width:60%">
                        Warning
                    </div>
                    <div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%">
                        Danger
                    </div>*@
            </td>
            <td>
                @{
                    bool canEdit = ViewBag.UserName != null && ViewBag.UserName == item.AuthorId;
                }
                @if (canEdit)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) @:|
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
            </td>
        </tr>
                    }

</table>
